---
import Layout from "../../layouts/Layout.astro";

import Card from "../../components/Card.astro";
import Button from "../../components/Button.astro";
import Heading from "../../components/Heading.astro";

import data from "../../data/projects.json";

const projects = data.projects.slice(0, 3);
---

<Layout title="Projects">
  <section id="projects" class="flex flex-col gap-3">
    <Heading componentNameForAnimation="projects-title">Projects</Heading>

    <div class="flex flex-col gap-3 md:grid md:grid-cols-3">
      {projects.map((project) => <Card project={project} />)}
    </div>
    <Button href="/projects">
      See all projects
    </Button>
  </section>
</Layout>
