---
import Menu from "../../components/Menu";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

import data from "../../data/projects.json";

const { projects } = data;
---

<Layout title="Projects">
  <div class="flex bg-background min-h-screen justify-center pt-10 pb-10 px-4">
    <div class="flex flex-col w-full max-w-4xl gap-6">
      <Menu client:idle />
      <div class="flex flex-col gap-2">
        <aside transition:name="projects-title">
          <h1
            class="font-black text-[2.5rem] leading-[2rem] text-heading md:text-7xl md:leading-[3.5rem]"
          >
            Projects
          </h1>
        </aside>
        <p class="md:text-2xl">
          Here are some of my projects! I hope you enjoy looking at some of my
          history.
        </p>
      </div>
      <div class="flex flex-col w-full gap-3 md:grid md:grid-cols-3">
        {projects.map((project) => <Card project={project} />)}
      </div>
    </div>
  </div>
</Layout>
